<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.doubler.oauth">
	<select id="checkServiceUrl"
	parameterType="java.lang.String"
	resultType="java.lang.String">
	<![CDATA[
		SELECT 
			SERVICE_URL 
		FROM 
			AUTH_BASIC_TB 
		WHERE CLIENT_ID = #{asd}
	]]>
	</select>
</mapper>