@charset "UTF-8";
/**** Common ****/

@font-face{
    font-family: 'NanumSquareEB';
    src:url(../font/NanumSquareEB.ttf) format('truetype');
}

@font-face{
    font-family: 'NanumSquareB';
    src:url(../font/NanumSquareB.ttf) format('truetype');
}

div.contentWrapper{
    margin:0 auto;
    width:980px;
}

div.mapAndListWrapper{
    margin-top:15px;
    margin-bottom:20px;
    width:980px;
    height:540px;
	
    display:flex;
    flex-direction: row;
}

div.mapWrapper{
    flex:1.8;
    background: gray;
}

div.listWrapper{
    flex:1;
/*     background:goldenrod; */
}

/**ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

            [ 다음 지도 API 관련 CSS ]
        
   - KEY : 0455bd291b8e2cb0f8f7532ada1c8f41
       
**ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

div#map{
    width:100%;
    height:100%;
}

/**ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

		   [ 위치 기반 관련 데이터 CSS ]

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ**/
div.listTitleWrapper{
/*     background:red; */
    width:100%;
    height:60px;
}

div.list{
    width:100%;
    height:420px;
/*     background:lightgrey; */
}

div.list ul{
    margin:0;
    padding:0;
    height:420px;
}

div.list > li{
    list-style:none;
}

div.list li > div{
    width:100%;
    height:64px;
    margin-top:30px;
    display:flex;
}

div.thumbnailWrapper{
    border:1px solid white;
    flex:3;
}

div.thumbnailWrapper img{
    width:100%;
    height:auto;
}

div.locationInfoWrapper{
    border:1px solid red;
    flex:6;
    font-size:14px;
    line-height:21px;
    width:1px;
}

div.locationInfoWrapper div{
	/* 	텍스트 생략 기호 사용 */
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space:nowrap;
}

div.locationPathToWrapper{
    border:1px solid blue;
    flex:2;
}